Options -Indexes
DirectoryIndex index.html

RewriteEngine Off

# Bypass LiteSpeed Cache
<IfModule LiteSpeed>
    CacheDisable public /
</IfModule>

# Sem cache HTTP
<IfModule mod_headers.c>
    Header set Cache-Control "no-cache, no-store, must-revalidate"
    Header set Pragma "no-cache"
    Header set Expires "0"
    Header set X-LiteSpeed-Cache-Control "no-cache"
</IfModule>

# Garante que PHP é executado
<FilesMatch "\.php$">
    SetHandler application/x-httpd-php
</FilesMatch>
